# IP сервера
SERVER_IP=${SERVER_IP}

# Профиль Spring Boot
SPRING_PROFILE=${SPRING_PROFILE}

# Настройки базы данных
DB_NAME=${DB_NAME}
DB_USER=${DB_USER}
DB_PASSWORD=${DB_PASSWORD}

# Настройки ботов
TELEGRAM_TOKEN=${TELEGRAM_TOKEN}
